<div class="copyriht-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="footer-social-link">
                        <a href="{% url 'index' %}" class="fa fa-facebook"></a>
                        <a href="{% url 'index' %}" class="fa fa-twitter"></a>
                        <a href="{% url 'index' %}" class="fa fa-linkedin"></a>

                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="copyright-text">
                        <p>Sarath Sathyan © All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>