{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- navbare area -->
        <nav class="navbar navbar-area">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle blacknav collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav menu navbar-left navbar-nav">
                        <li class="current-menu-item"><a href="{% url 'index' %}">home <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="#">Covid Info</a></li>
                        </ul>
                        </li>
                        <li><a href="#about">about <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="about-1.html">About Page 1</a></li>
                            <li><a href="about-2.html">About Page 2</a></li>
                            <li><a href="about-3.html">About Page 3</a></li>
                        </ul>

                        </li>
                        <li><a href="#portfolio">MEDICAL STUFFS <span class="fa fa-angle-down"></span> </a>
                            <ul>
                                <li><a href="medical-stuff-1.html">MEDICAL STUFFS 1</a></li>
                                <li><a href="medical-stuff-2.html">MEDICAL STUFFS 2</a></li>
                                <li><a href="medical-stuff-3.html">MEDICAL STUFFS 3</a></li>
                            </ul>
                        </li>
                    {% if user %}
                    {% if user.is_staff %}
                        <li><a href="#">Your Appointments </a>

                        </li>
                    {% else %}
                        <li><a href="#team">Your Appointments <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="services-1.html">Services Page 1</a></li>
                                <li><a href="services-2.html">Services Page 2</a></li>
                                <li><a href="services-3.html">Services Page 3</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% endif %}
                    {% if user %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'doctorProfile' %}">Profile <span class="fa fa-angle-down"></span></a>
                        <ul>
                                <li><a href="services-1.html">Edit Profile</a></li>
                        </ul>

                        </li>
                    {% else %}
                        <li><a href="#team">Your Appointments <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="services-1.html">Services Page 1</a></li>
                                <li><a href="services-2.html">Services Page 2</a></li>
                                <li><a href="services-3.html">Services Page 3</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% endif %}
                    {% if user.is_authenticated %}

                    {% else %}
                        <li><a href="#pricing">news <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="news-1.html">News Page 1</a></li>
                                <li><a href="news-2.html">News Page 2</a></li>
                                <li><a href="news-3.html">News Page 3</a></li>
                            </ul>
                        </li>
                    {% endif %}
                        <li><a href="#contact">contact <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="contact-1.html">Contact Page 1</a></li>
                            <li><a href="contact-2.html">Contact Page 2</a></li>
                            <li><a href="contact-3.html">Contact Page 3</a></li>
                        </ul>

                        </li>
                        {% if user.is_authenticated %}
                            <li><a href="#"><span style="color: #8dc12b">Welcome : {{ user.first_name }}</span></a>  </li>
                           <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                        <li><a href="#contact">Login / Register</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav top-search navbar-right navbar-nav">
                        <li>
                            <a href="#" class="fa fa-search"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end of navbare area -->

{% endblock %}