{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- navbare area -->
        <nav class="navbar navbar-area">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle blacknav collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav menu navbar-left navbar-nav">
                        <li class="current-menu-item"><a href="{% url 'index' %}">home <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="#">Covid Info</a></li>
                            <li><a href="{% url 'about' %}">about</a></li>
                        </ul>
                        </li>

                    {% if user %}
                        {% if user.is_staff and not user.is_superuser %}
                        <li><a href="{% url 'doctorPrescription' %}">Prescriptions </a>

                        </li>

                        {% elif user.is_active and user.is_superuser%}
                            <li><a href="#">Contact </a>

                            </li>

                        {% endif %}
                    {% endif %}
                    {% if user %}
                    {% if user.is_staff and not user.is_superuser %}
                        <li><a href="{% url 'doctorAppointments' %}">Your Appointments </a>

                        </li>
                    {% elif user.is_active and not user.is_staff and not user.is_superuser%}
                        <li><a href="{% url 'patientAppoint' %}">Your Appointments</a>

                        </li>
                    {% endif %}
                    {% endif %}
                    {% if user %}
                    {% if user.is_staff and not user.is_superuser %}
                        <li><a href="{% url 'doctorProfile' %}">Profile <span class="fa fa-angle-down"></span></a>


                        </li>
                    {% elif user.is_active and not user.is_staff and not user.is_superuser%}

                        <li><a href="#">Invoice & payments <span class="fa fa-angle-down"></span></a>

                        </li>
                        <li><a href="{% url 'doctorProfile' %}">Profile</a>

                        </li>
                         <li><a href="{% url 'patientMedical' %}">Medical History</a>

                        </li>
                    {% endif %}
                    {% endif %}
                    {% if user.is_authenticated %}

                    {% else %}
                        <li><a href="#pricing">news <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="news-1.html">News Page 1</a></li>
                                <li><a href="news-2.html">News Page 2</a></li>
                                <li><a href="news-3.html">News Page 3</a></li>
                            </ul>
                        </li>
                    {% endif %}



                        {% if user.is_authenticated %}
                            <li><a href="#"><span style="color: #8dc12b">Welcome : {{ user.first_name }}</span></a>  </li>
                           <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                        <li><a href="#contact">Login / Register</a></li>
                        {% endif %}

                    {% if user.is_staff %}
                        <li><a href="{% url 'receptionDash' %}" >receptionalist </a></li>

                    {% endif %}

                    </ul>

                </div>
            </div>
        </nav>
        <!-- end of navbare area -->

{% endblock %}