{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
    .top{
        margin-top: 100px;
    }
    .v2-about-input{
        font-size: 20px;
        height: 50px;
    }
    .log{
        margin-top: 16px;
    margin-left: 21px;
    }
    .requiredField{
        display: none;

    }
    .head{
        color: black;
            background: darkseagreen;
    /* width: 35%; */
    border-radius: 8px;

    }
    .para{
        font-size: 30px;
    font-weight: bold;
    color: steelblue;
    }
    {# table#}
    .pos{
        font-size: 15px;
        position: absolute;
        width: 40%;
    }

    .pat{

    left: 48%;
    position: relative;
}
    .headfst{    margin-top: -32px;
    position: absolute}
    .headpos {
        position: absolute;
        left: 77%;
        right: 6%;
        margin-top: -35px;
        text-align: end;
    }


    </style>

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="topbar-single-div">
                        <i class="fa fa-globe"></i>
                        <label>
                            language
                        </label>
                        <span class="select-language">
                    <select name="#" id="#">
                        <option value="English">English</option>
                        <option value="Bangla">Bangla</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabi</option>
                    </select>
                </span>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 1.777.777.777</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>hello@theerfan.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/_header.html' %}

    <section class="top">


                        <div class="container">


{# UPDATE INFO #}

                            <div >

                            <div class="row">
                                    <div class="col-sm-6 v3-homeform" style="width: 100%">


                                    <div class="about-form" style="background: transparent">






{#            patients                        #}

                                    <table class="table">
                                              <thead class="thead-light" style="color: #1b6d85;font-size: 15px">
                                                <tr>
                                                  <th scope="col">Date</th>
                                                  <th scope="col">Time</th>
                                                  <th scope="col">Consulting Doctor</th>
                                                  <th scope="col">Status</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for m in appoints %}

                                                <tr style="font-size: 14px">
                                                  <th scope="row">{{ m.date }}</th>
                                                  <td>{{ m.time }}</td>
                                                  <td>{{ m.doctor }}</td>
                                                  <td>{{ m.status }}</td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>




                                    </div>





                                </div>

                            </div>


        </div>

                        </div>
    </section>


    <div class="copyriht-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="footer-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="copyright-text">
                        <p>Jigsawlab © All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}