{% extends 'base.html' %}{% load static %}

{% block content %}

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="topbar-single-div">
                        <i class="fa fa-globe"></i>
                        <label>
                            language
                        </label>
                        <span class="select-language">
                    <select name="#" id="#">
                        <option value="English">English</option>
                        <option value="Bangla">Bangla</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabi</option>
                    </select>
                </span>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 1.777.777.777</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>hello@theerfan.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>

     <section class="home-area v3 single-title-area">

     {% include 'partials/_header.html' %}
      <div class="single-page-title">
            <div class="page-title-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <div class="page-title">
                                <h2>ABOUT MEDICARE</h2>
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><a href="#">About Us</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <section class="get-quote-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <div class="get-quate-content">
                        <h2>Providing Total Health Care Solutoin</h2>
                        <p>Maecenas scelerisque felis ornare placerat tempus. In turpis nisi, viverra hendrerit dolor vel, auctor blandit sapien. Aenean quis venenatis felis, adipiscing pretium nunc.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="get-btn">
                        <a href="#">GET AN APPOINTMENT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="aboutUs-area v2 singlepage section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="aboutUs-contant">
                        <div class="about-title">
                            <h4>OUR STORY</h4>
                            <h1>Who <span>We Are</span></h1>
                        </div>
                        <h4><span class="fa fa-check"></span>Handle With Professionalism</h4>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <h4><span class="fa fa-check"></span>We Love What We Do</h4>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <a href="#" class="about-btn">VIEW SERVICESE</a>
                    </div>
                </div>
                <div class="col-sm-6 margin-top-resposnive">
                    <div class="aboutUs-contant">
                        <div class="about-title">
                            <h4>SERVICES AT A GLANCE</h4>
                            <h1>why <span>choose us</span></h1>
                        </div>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <p>It has always been a debate whether to buy new or used construction equipment. Small fleets prefer to buy used construction equipment as they attract less capital and what to investments.</p>
                        <p>It has always been a debate whether to buy new or used construction equipment. Small fleets prefer to buy used construction equipment </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-logo">
                                    <img src="img/logo.png" alt="mdimran41">
                                </div>
                                <div class="footer-about">
                                    <p>Am interdum, nulla id sodales viverra, Nam interdum, nulla id sodales viverra, quam eros commodo est, quis aliquam lectus feugiat enim lorem quis nisl. Quisque ac arcu egestas, convallis risus vitae, gravida enim quam eros commodo est, quis aliquam lectus. Nam interdum, nulla id sodales viverra.</p>
                                    <p>Praesent iaculis ut lacus a mattis. Nam interdum, nulla id sodales viverra.</p>
                                    <a href="#"> <span class="fa fa-angle-right"></span>read more</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-recent-post">
                                    <div class="media">
                                        <a class="pull-left" href="single.html">
                                            <img class="media-object" src="img/recen-1.png" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="single.html"><h4 class="media-heading">Cosmology</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="single.html">
                                            <img class="media-object" src="img/recen-2.png" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="single.html"><h4 class="media-heading">Cancer Facts</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="single.html">
                                            <img class="media-object" src="img/recen-3.png" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="single.html"><h4 class="media-heading">Dental Services</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="media-carea-contact">
                        <form action="http://www.kazierfan.com/themes/medicre/medicre/index.html">
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Phone number">
                            </div>
                            <div class="single-text-area">
                                <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
                            </div>
                            <div class="single-submit">
                                <input class="form-control text-center" type="submit" value="submit now">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyriht-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="footer-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="copyright-text">
                        <p>Jigsawlab © All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     </section>


{% endblock %}