{% extends 'base.html' %}{% load static %}

{% block content %}

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">

                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 8073050590</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>sarathsathyan98@gmail.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>

     <section class="home-area v3 single-title-area">

     {% include 'partials/_header.html' %}
      <div class="single-page-title">
            <div class="page-title-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <div class="page-title">
                                <h2>ABOUT MEDICARE</h2>
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><a href="#">About Us</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <section class="get-quote-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <div class="get-quate-content">
                        <h2>Providing Total Health Care Solutoin</h2>
                        <p>Maecenas scelerisque felis ornare placerat tempus. In turpis nisi, viverra hendrerit dolor vel, auctor blandit sapien. Aenean quis venenatis felis, adipiscing pretium nunc.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="get-btn">
                        <a href="#">GET AN APPOINTMENT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="aboutUs-area v2 singlepage section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="aboutUs-contant">
                        <div class="about-title">
                            <h4>OUR STORY</h4>
                            <h1>Who <span>We Are</span></h1>
                        </div>
                        <h4><span class="fa fa-check"></span>Handle With Professionalism</h4>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <h4><span class="fa fa-check"></span>We Love What We Do</h4>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <a href="#" class="about-btn">VIEW SERVICESE</a>
                    </div>
                </div>
                <div class="col-sm-6 margin-top-resposnive">
                    <div class="aboutUs-contant">
                        <div class="about-title">
                            <h4>SERVICES AT A GLANCE</h4>
                            <h1>why <span>choose us</span></h1>
                        </div>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <p>It has always been a debate whether to buy new or used construction equipment. Small fleets prefer to buy used construction equipment as they attract less capital and what to investments.</p>
                        <p>It has always been a debate whether to buy new or used construction equipment. Small fleets prefer to buy used construction equipment </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


      {% include 'partials/_footer.html' %}

     </section>


{% endblock %}