{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
    .top{
        margin-top: 100px;
    }
    .v2-about-input{
        font-size: 20px;
        height: 50px;
    }
    .log{
        margin-top: 16px;
    margin-left: 21px;
    }
    .requiredField{
        display: none;

    }
    .head{
        color: black;
    /* width: 35%; */
    border-radius: 8px;

    }
    .para{
        font-size: 30px;
    font-weight: bold;
    color: steelblue;
    }
    .zoom:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
    transition-duration: 2s;
  transform: scale(1.2);
}

    {# table#}

    .copyriht-area{
        margin-top: 90px;
    }



    </style>

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">


                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 8073050590</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>sarathsathyan98@gmail.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/_header.html' %}

    <section class="top">


                        <div class="container">

                            <div class="row">
                                    <div class="col-sm-6 v3-homeform" style="width: 100%">
                                        {% include 'partials/_alerts.html' %}

                                    <div class="about-form" style="background: transparent">

                                        <div class="form-title text-center">
                                            <h2 > <span class="head">Covid 19 Live Updates</span></h2>
                                        </div>

                                            <div class="v2-about-input zoom" style="width: 24%;height: 25%">
                                            <p class="para"> Country :</p><input type="text" style="color: #2b542c;font-size: 50px" class="in_text" value="{{ country }}" readonly>

                                            </div>

                                        <div class="v2-about-input zoom"style="width: 24%;height: 25%">
                                            <p class="para"> Confirmed :</p><input type="text" style="color: #2b542c;font-size: 50px"  class="in_text" value="{{ confirmed }}" readonly>

                                            </div>
                                        <div class="v2-about-input zoom"style="width: 24%;height: 25%">
                                            <p class="para"> Deaths :</p><input type="text" style="color: red;font-size: 50px"  class="in_text" value="{{ deaths }}" readonly>

                                            </div>
                                        <div class="v2-about-input zoom"style="width: 24%;height: 25%">
                                            <p class="para"> Recovered :</p><input type="text" style="color: green;font-size: 50px"  class="in_text" value="{{ recover }}" readonly>

                                            </div>




                                    </div>



                                </div>
                            </div>
{# UPDATE INFO #}

                            <div >




        </div>

                        </div>
    </section>


    {% include 'partials/_footer.html' %}

{% endblock %}