{% extends 'base.html' %}
{% load static %}{% load crispy_forms_tags %}
{% block content %}

    <style>
    .top{
        margin-top: 100px;
    }
    .v2-about-input{
        font-size: 20px;
        height: 50px;
    }
    .log{
        margin-top: 16px;
    margin-left: 21px;
    }
    .requiredField{
        display: none;

    }
    .head{
        color: black;
    }
    #id_user_phone{
        color: black;
    }

    </style>

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="topbar-single-div">
                        <i class="fa fa-globe"></i>
                        <label>
                            language
                        </label>
                        <span class="select-language">
                    <select name="#" id="#">
                        <option value="English">English</option>
                        <option value="Bangla">Bangla</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabi</option>
                    </select>
                </span>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 1.777.777.777</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>hello@theerfan.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/_header.html' %}

    <section class="top">


                        <div class="container">

                                        {% include 'partials/_alerts.html' %}



{# UPDATE INFO #}

                            <div >

                            <div class="row">
                                    <div class="col-sm-6 v3-homeform" style="width: 100%">


                                    <div class="about-form" style="background: transparent">

                                        <div class="form-title text-center">
                                            <h2 > <span class="head">Create Patient</span></h2>
                                        </div>

                                     <div class="addin" style="margin-top: 38px">
                                         <form method="post">{% csrf_token %}

                                              <div class="v2-about-input new">
                                           Name: <input class="new" type="text" style="color: black" name="name" required>
                                        </div>
                                        <div class="v2-about-input new">
                                           Phone:  {{ form|crispy }}
                                        </div>
                                         <div class="v2-about-input new">
                                             Email: <input type="email" style="color: black"  name="email" required>
                                        </div>
                                         <div class="v2-about-input new">

                                          Gender:
                                             <div class="v2-about-select" style="color: black;background: #1b6d85">

                                                 <select name="gender" required>
                                                    <option value="Male">Male</option>
                                                     <option value="Female">Female</option>
                                                     <option value="Others">Others</option>
                                                </select>
                                             </div>

                                        </div>
                                             <div class="v2-about-input new">
                                             Age: <input type="text" style="color: black"  name="age" required>
                                        </div>
                                         <div class="v2-about-input new">
                                             Address: <input type="text" style="color: black;background: #1b6d85"  name="address" required>
                                        </div>
                                         <div class="v2-about-input new">
                                             Outstanding: <input type="text" style="color: black;background: #1b6d85"  name="outstanding" required>
                                        </div>
                                         <div class="v2-about-input new">
                                             Paid: <input type="text" style="color: black;background: #1b6d85"  name="paid" required>
                                        </div>

                                        <div class="v2-about-input new">

                                           Blood Group:
                                            <div class="v2-about-select" style="color: black;background: #1b6d85">

                                                 <select name="group" required>

                                                    <option value="A">A</option>
                                                     <option value="A Positive">A Positive</option>
                                                     <option value="B">B </option>
                                                     <option value="B Positive">B Positive</option>

                                                </select>
                                             </div>
                                        </div>
                                             <div class="v2-about-input new">
                                             Case Paper: <input type="text" style="color: black;background: #1b6d85"  name="case" required>

                                             </div>




                                        <div class="v2-about-input new v2-about-submit ">
                                            <input type="submit" name="create" value="Submit Info" >
                                        </div>


                                         </form>
                                    </div>



                                    </div>





                                </div>

                            </div>


        </div>

                        </div>
    </section>



{% endblock %}