
{% extends 'base.html' %}
{% block content %}{% load static %}


    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="topbar-single-div">
                        <i class="fa fa-globe"></i>
                        <label>
                            language
                        </label>
                        <span class="select-language">
                    <select name="#" id="#">
                        <option value="English">English</option>
                        <option value="Bangla">Bangla</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabi</option>
                    </select>
                </span>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 1.777.777.777</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>hello@theerfan.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of topbar area -->
    <section class="home-area v3">
        {% include 'partials/_header.html' %}
        <!-- start slider section -->
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="{% static 'img/v3home.png' %}" alt="jigsawlab">
                    <div class="info">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 slider-content-area text-left">
                                    <div class="v3 welcome-text">
                                        <h1>MEDICAL CARE</h1>
                                        <h2>Health Care Solutions</h2>
                                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. The industry's standard dummy text ever The industry's standard dummy text ever since the 1500,  lorem Ipsum is simply dummy text lorem Ipsum is simply dummy text.</h4>
                                        <a href="#" class="read-more">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 v3-homeform">
                                    <div class="about-form">
                                        <div class="form-title text-center">
                                            <h2>BOOK AN <span>APPOINTMENT</span></h2>
                                        </div>
                                        <div class="v2-about-input">
                                            <input type="text" placeholder="Name">
                                        </div>
                                        <div class="v2-about-input mr0">
                                            <input type="email" placeholder="Email">
                                        </div>
                                        <div class="v2-about-input">
                                            <input type="text" placeholder="Phone">
                                        </div>
                                        <div class="v2-about-input mr0">
                                            <div class="v2-about-select">
                                                <select>
                                                    <option value="Preferred Date & Time">Preferred Date & Time</option>
                                                    <option value="Preferred Date & Time">Preferred Date & Time</option>
                                                    <option value="Preferred Date & Time">Preferred Date & Time</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="v2-about-textarea">
                                            <textarea name="message" id="message2" cols="30" rows="10" placeholder="Write your comment here..."></textarea>
                                        </div>
                                        <div class="v2-about-submit">
                                            <input type="submit" value="SUBMIT NOW">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
        <!-- end of slider section -->
    </section>
    <!-- end of get quote area -->
    <!-- start features area -->
    <section class="features-area v3 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="single-features v3">
                        <div class="features-icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <h4>Qualified Doctors</h4>
                        <p>If you need a doctor for to consectetuer Lorem </p>
                        <p>ipsum dolor, consectetur adipiscing elit Lorem </p>
                        <p>ipsum dolor, consectetur Ut volutpat eros.</p>
                        <a href="#" class="service-link">READ MORE +</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="single-features v3 active">
                        <div class="features-icon">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <h4>Operation Theater</h4>
                        <p>If you need a doctor for to consectetuer Lorem </p>
                        <p>ipsum dolor, consectetur adipiscing elit Lorem </p>
                        <p>ipsum dolor, consectetur Ut volutpat eros.</p>
                        <a href="#" class="service-link">READ MORE +</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="single-features v3">
                        <div class="features-icon">
                            <i class="fa fa-bed"></i>
                        </div>
                        <h4>Emergency Services</h4>
                        <p>If you need a doctor for to consectetuer Lorem </p>
                        <p>ipsum dolor, consectetur adipiscing elit Lorem </p>
                        <p>ipsum dolor, consectetur Ut volutpat eros.</p>
                        <a href="#" class="service-link">READ MORE +</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of features area -->
    <!-- start about us section -->
    <section class="aboutUs-area v2 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="aboutUs-contant">
                        <div class="about-title">
                            <h4>SERVICES AT A GLANCE</h4>
                            <h1>About <span>Medicare</span></h1>
                        </div>
                        <h4><span class="fa fa-check"></span>Handle With Professionalism</h4>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <h4><span class="fa fa-check"></span>We Love What We Do</h4>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <a href="services-3.html" class="about-btn">VIEW SERVICES</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="aboutUs-contant marign-top">
                        <div class="about-title">
                            <h4>SERVICES AT A GLANCE</h4>
                            <h1>Why <span>Visit Us</span></h1>
                        </div>
                        <h4><span class="fa fa-check"></span>Handle With Professionalism</h4>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor ablandit sapien. Aenean quis ven natis felis, adipiscing pretium nunc. Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal.</p>
                        <h4><span class="fa fa-check"></span>We Love What We Do</h4>
                        <p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat there dominion beast had air. Said open land form moved air his signs moveth creepeth appear appear it. Said open land form moved air his signs moveth creepeth appear appear it.</p>
                        <a href="#" class="about-btn">KNOW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of about us section -->
    <!-- start specialist area -->

    <!-- end of specialist  area -->
    <!-- start department section -->
    <section class="department-section v2 v3 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="section-title">
                        <h1><span>Our</span> Departments</h1>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="department-nav">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-justified nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#surgery" aria-controls="surgery" role="tab" data-toggle="tab">
                                        <div class="navimg"><img src="{% static 'img/nav-icon-1.png' %}" alt="jigsawlab"></div>
                                        <h4>SURGERY</h4>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#dentalcare" aria-controls="dentalcare" role="tab" data-toggle="tab">
                                        <div class="navimg">
                                            <img src="{% static 'img/nav-icon-2.png' %}" alt="jigsawlab">
                                        </div>
                                        <h4>DENTAL CARE</h4></a>
                                </li>
                                <li role="presentation">
                                    <a href="#diseases" aria-controls="diseases" role="tab" data-toggle="tab">
                                        <div class="navimg"><img src="{% static 'img/nav-icon-3.png' %}" alt="jigsawlab"></div>
                                        <h4>ALLERGIC DISEASES</h4></a>
                                </li>
                                <li role="presentation">
                                    <a href="#eaycare" aria-controls="eaycare" role="tab" data-toggle="tab">
                                        <div class="navimg"><img src="{% static 'img/nav-icon-4.png' %}" alt="jigsawlab"></div>
                                        <h4>EYE CARE</h4></a>
                                </li>
                                <li role="presentation">
                                    <a href="#cancer" aria-controls="cancer" role="tab" data-toggle="tab">
                                        <div class="navimg"><img src="{% static 'img/nav-icon-5.png' %}" alt="jigsawlab"></div>
                                        <h4>CANCER</h4></a>
                                </li>
                                <li role="presentation">
                                    <a href="#nurology" aria-controls="nurology" role="tab" data-toggle="tab">
                                        <div class="navimg">
                                            <img src="{% static 'img/nav-icon-6.png' %}" alt="jigsawlab">
                                        </div>
                                        <h4>nurology</h4></a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="surgery">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="tab-title">
                                                <h2>DETAILS OF <span>CANCER</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="department-img">
                                                <img src="{% static 'img/v2tab.png' %}" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 department-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit augue ornare atis elementum. Fusce elit justo, molestie tincidunt tincidunt ut, imperdiet nec lorem. Inteer suscipit varius pharetra. In vulputate tristique lectus, nec pellentesque leo ornare luctus. Cras ullamcorper ipsum ac imperdiet cursus. Aliquam posuere in odio vel sodales.
                                            </p>
                                            <p>Suspendisse congue magna non neque congue dapibus. Fusce gravida, ipsum in bulum adipiscing, odio ligula pretium est, sed porttitor urna quam sit amet arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="col-sm-4 department-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit augue ornare atis elementum. Cras ullamcorper ipsum ac imperdiet cursus. Aliquam posuere in odio vel sodales. </p>
                                            <p>
                                                Suspendisse congue magna non neque congue dapibus. Fusce gravida, ipsum in bulum adipiscing, odio ligula pretium est, sed porttitor urna quam sit amet arcu, ipsum in bulum adipiscing</p>
                                            <a href="#" class="service-link">READ MORE +</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="dentalcare">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="department-img">
                                                <img src="img/v2tab.png" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 department-content">
                                            <h2 class="text-uppercase">details of cancer</h2>
                                            <p>Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed,</p>
                                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non luctus felis tristique sit amet</p>
                                            <p>Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Quisque scelerisque a lectus vel ornare. Etiam pellentesque justo ipsum, et pretium felis vulputate ac...</p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="diseases">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="tab-title">
                                                <h2>DETAILS OF <span>CANCER</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="department-img">
                                                <img src="img/v2tab.png" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 department-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit augue ornare atis elementum. Fusce elit justo, molestie tincidunt tincidunt ut, imperdiet nec lorem. Inteer suscipit varius pharetra. In vulputate tristique lectus, nec pellentesque leo ornare luctus. Cras ullamcorper ipsum ac imperdiet cursus. Aliquam posuere in odio vel sodales.
                                            </p>
                                            <p>Suspendisse congue magna non neque congue dapibus. Fusce gravida, ipsum in bulum adipiscing, odio ligula pretium est, sed porttitor urna quam sit amet arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="col-sm-4 department-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit augue ornare atis elementum. Cras ullamcorper ipsum ac imperdiet cursus. Aliquam posuere in odio vel sodales. </p>
                                            <p>
                                                Suspendisse congue magna non neque congue dapibus. Fusce gravida, ipsum in bulum adipiscing, odio ligula pretium est, sed porttitor urna quam sit amet arcu, ipsum in bulum adipiscing</p>
                                            <a href="#" class="service-link">READ MORE +</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="eaycare">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="department-img">
                                                <img src="img/v2tab.png" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 department-content">
                                            <h2 class="text-uppercase">details of cancer</h2>
                                            <p>Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed,</p>
                                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non luctus felis tristique sit amet</p>
                                            <p>Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Quisque scelerisque a lectus vel ornare. Etiam pellentesque justo ipsum, et pretium felis vulputate ac...</p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="cancer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="department-img">
                                                <img src="img/v2tab.png" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 department-content">
                                            <h2 class="text-uppercase">details of cancer</h2>
                                            <p>Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed,</p>
                                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non luctus felis tristique sit amet</p>
                                            <p>Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Quisque scelerisque a lectus vel ornare. Etiam pellentesque justo ipsum, et pretium felis vulputate ac...</p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nurology">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="department-img">
                                                <img src="img/v2tab.png" alt="jigsawlab">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 department-content">
                                            <h2 class="text-uppercase">details of cancer</h2>
                                            <p>Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed,</p>
                                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non luctus felis tristique sit amet</p>
                                            <p>Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Quisque scelerisque a lectus vel ornare. Etiam pellentesque justo ipsum, et pretium felis vulputate ac...</p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of department section -->
   <section class="speacialist-area v3 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="section-title">
                        <h1><span>Meet Our </span>  Specialists</h1>
                        <p>Maecenas scelerisque felis ornare placer tempus. In turpis nisi, viverra hendrerit dolo veal, auctor blandit</p>
                        <p>sapien aenean quis ven natis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="single-speacialist">
                        <div class="specialist-img">
                            <img src="{% static 'img/spacialist-1.png' %}" alt="jigsawlab">
                        </div>
                        <h4>DR. JOHN STANTON</h4>
                        <p>Cardiologist</p>
                        <div class="speacialist-link">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="single-speacialist">
                        <div class="specialist-img">
                            <img src="{% static 'img/spacialist-2.png' %}" alt="jigsawlab">
                        </div>
                        <h4>DR. JOHN STANTON</h4>
                        <p>Cardiologist</p>
                        <div class="speacialist-link">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="single-speacialist">
                        <div class="specialist-img">
                            <img src="{% static 'img/spacialist-3.png' %}" alt="jigsawlab">
                        </div>
                        <h4>DR. JOHN STANTON</h4>
                        <p>Cardiologist</p>
                        <div class="speacialist-link">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="view-alldoctors">
                        <a href="medical-stuff-3.html" class="read-more">view all doctors</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start latest news event section -->
    <section class="latest-news-event-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="section-title">
                        <h1><span>Latest</span> News &amp; Events</h1>
                        <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially </p>
                        <p>specimen book unchanged.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="single.html">
                        <div class="single-news-v3">
                            <div class="news-thumb">
                                <img src="{% static 'img/news-1.png' %}" alt="jigsawlab">
                            </div>
                            <h4 class="news-title text-uppercase">George QUICK</h4>
                            <h4>27th Feb, 2016</h4>
                            <p>Our construction management professio nals organize, lead, and manage the people, materials, and processes of construction utilizing the latest techno logies.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="single.html">
                        <div class="single-news-v3">
                            <div class="news-thumb">
                                <img src="{% static 'img/news-1.png' %}" alt="jigsawlab">
                            </div>
                            <h4 class="news-title text-uppercase">SAMANTHA FOX</h4>
                            <h4>27th Feb, 2016</h4>
                            <p>Our construction management professio nals organize, lead, and manage the people, materials, and processes of construction utilizing the latest techno logies.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="single.html">
                        <div class="single-news-v3">
                            <div class="news-thumb">
                                <img src="{% static 'img/news-1.png' %}" alt="jigsawlab">
                            </div>
                            <h4 class="news-title text-uppercase">Jeremy hendixson</h4>
                            <h4>27th Feb, 2016</h4>
                            <p>Our construction management professio nals organize, lead, and manage the people, materials, and processes of construction utilizing the latest techno logies.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="view-alldoctors">
                        <a href="news-3.html" class="read-more">view all news</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-logo">
                                    <img src="{% static 'img/logo.png' %}" alt="mdimran41">
                                </div>
                                <div class="footer-about">
                                    <p>Am interdum, nulla id sodales viverra, Nam interdum, nulla id sodales viverra, quam eros commodo est, quis aliquam lectus feugiat enim lorem quis nisl. Quisque ac arcu egestas, convallis risus vitae, gravida enim quam eros commodo est, quis aliquam lectus. Nam interdum, nulla id sodales viverra.</p>
                                    <p>Praesent iaculis ut lacus a mattis. Nam interdum, nulla id sodales viverra.</p>
                                    <a href="#"> <span class="fa fa-angle-right"></span>read more</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-recent-post">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="{% static 'img/recen-1.png' %}" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">Cosmology</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="{% static 'img/recen-2.png' %}" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">Cancer Facts</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="{% static 'img/recen-3.png' %}" alt="jigsawlab">
                                        </a>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading">Dental Services</h4></a>
                                            <p>Phasellus ut condimentum diam, eget tempus lorem...</p>
                                            <p>21 December, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="media-carea-contact">
                        <form action="http://www.kazierfan.com/themes/medicre/medicre/index.html">
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="single-form">
                                <input class="form-control" type="text" placeholder="Phone number">
                            </div>
                            <div class="single-text-area">
                                <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
                            </div>
                            <div class="single-submit">
                                <input class="form-control text-center" type="submit" value="submit now">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyriht-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="footer-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="copyright-text">
                        <p>Jigsawlab © All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}