{% extends 'base.html' %}{% load static %}{% load crispy_forms_tags %}

{% block content %}

    <style>
    .v2-about-input{
        font-size: 20px;
        height: 50px;
    }
    .log{
        margin-top: 16px;
    margin-left: 21px;
    }
    .requiredField{
        display: none;

    }

    </style>

    <div id="preloader"></div>
    <!-- start topbar area -->
    <div class="v3-topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">

                    <div class="topbar-single-div">
                        <i class="fa fa-flash"></i>
                        <h4>Call us: 8073050590</h4>
                    </div>
                    <div class="topbar-single-div">
                        <i class="fa fa-envelope"></i>
                        <h4>sarathsathyan98@gmail.com</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="top-social-link">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-tumblr"></a>
                        <a href="#" class="fa fa-skype"></a>
                        <a href="#" class="fa fa-vimeo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-3-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="site-logo" href="#"><img src="{% static 'img/logo.png' %}" alt="jigsawlab"></a>
                </div>
            </div>
        </div>
    </div>
    <section class="home-area v3">
    {% include 'partials/_header.html' %}

    <!-- start single page title area -->
        <div class="info">
                        <div class="container">

                            <div class="row">
                                    <div class="col-sm-6 v3-homeform" style="width: 100%">
                                        {% include 'partials/_alerts.html' %}

                                    <div class="about-form">
                                        <form method="post">{% csrf_token %}
                                        <div class="form-title text-center">
                                            <h2> <span>Welcome Back</span></h2>
                                             <p class="my-2">Login to manage Admin area.</p>
                                        </div>


                                        <div class="v2-about-input log">

                                        </div>
                                        <div class="v2-about-submit">
                                            <a href="{% url 'login' %}" class="btn btn-default">Click Here To Login</a>
                                        </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
        </div>


    </section>
      {% include 'partials/_footer.html' %}




{% endblock %}
